{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./src",
    "paths": {
      "#category/*": ["./category/*"],
      "#seedwork/*": ["./@seedwork/*"]
    }
  }
}
